@charset "utf-8";

body {
    background-image: url("fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

h1{
    border: 1px solid #111;
    background-color: dimgray;
    text-align: center;

}

img{
    padding: 0;
    width: 200px;
    height: 250px;
    border: 2px solid #fff;
    text-align: center;
    
}

figure{
    padding:  5px;
    border: 1px solid #000;
    
    
}

figcaption{
    
    background-color: dimgray;
    font-weight: bold;
    text-align: center;
    padding: 5px 5px;
}

.imgcentro{
    text-align: center;
}