@charset "utf-8";

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    background-color: #ccc;
    padding: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .caixa1{
    background-color: blueviolet;
    grid-column: 1 / span 2;

  }

  .caixa2{
    background-color: brown;
    grid-column: 3 / span 2;
  }

  .caixa3{
    background-color: rgb(104, 79, 127);
    grid-column: 1 / span 4;
   
  }

  .caixa4{
    background-color: aqua;
    grid-column: 1 / span 4;
  }

  .caixa5{
    background-color: darkgreen;
    grid-column: 2 / span 2;
  }

  .caixa6{
    background-color: deeppink;
    grid-column: 1 / span 4;
  }

.caixa7{
    background-color: rgb(133, 66, 194);
    grid-column: 1 / span 2;

}

.caixa8{
    background-color: darkblue;
    
}

.caixa9{
    background-color: goldenrod;
    
}